.card {
  background: white;
  padding: 30px;
  border-radius: 18px;
  box-shadow:
    0 4px 20px
    rgba(0,0,0,0.06);
}

.card h3 {
  color: #64748b;
  margin-bottom: 15px;
}

.card h1 {
  color: #0f172a;
  font-size: 38px;
}